{% extends "base.html" %}
{% load static %}
{% block content %}
<p><a class="btn btn-default" href="{% url 'exams_answerfeedback_list' %}"><i class="fa fa-home" aria-hidden="true"></i>
 &nbsp;&nbsp;Answer Feedbacks</a></p>
<table class="table table-striped">
    <thead>
        <tr>
            <th scope="col">ID</th>
            <th scope="col">Title</th>
            <th scope="col">Body</th>
            <th scope="col">Type</th>
            <th scope="col">Time</th>
        </tr>
    </thead>
    <tbody>
        {% for object in object_list %}
        <tr>
            <th scope="row">{{object.pk}}</th>
            <td><a href="{{object.get_absolute_url}}">{{object}}</a></td>
            <td>{{ object.feedback_body }}</td>
            <td>{{ object.feedback_type }}</td>
            <td>{{ object.time }}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}