{% extends 'base.html' %}
{% load static i18n mathjax %}
{% block css %}
<link rel="stylesheet" href="{% static 'css/exams/view_answer.css' %}">
<script src="https://cdnjs.cloudflare.com/ajax/libs/markdown-it/8.4.1/markdown-it.min.js" integrity="sha256-xPwMubQT+EaVMOh04FjyG49sNwJmmGYpnhWNh4osD5w=" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/markdown-it-mathjax@2.0.0/markdown-it-mathjax.min.js"></script>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/github-markdown-css/2.10.0/github-markdown.min.css" integrity="sha256-Ndk1ry+oGNFEaXt4kxlW/SYLbxat1O0DhaDd+lob0SY=" crossorigin="anonymous" />
{% mathjax_scripts %}
{% endblock css %}

{% block content %}

<h2 class="text-center">{{question.exam.subject.course.university}}</h2>
<h3 class="text-center">{{question.exam.subject.course.get_degree_type_display}} - {{question.exam.subject.course.name}} - {{question.exam.get_term_display}} {{question.exam.year}}</h3>
<p class="lead text-center">{{question.exam.subject}}</p>
<hr>

<div class="row">

    <div class="col-md-2">
        <div class="d-flex justify-content-center"><a class="btn btn-primary btn-block" href="{% url 'view_question_paper' question.exam.id %}">Go to Question Paper</a></div>

        <!-- This will show next/previous buttons -->
        <!-- Checks whether there is any prev_question -->
        {% if prev_question %}
        <div class="d-flex justify-content-center" style="padding: 10px"><a class="btn btn-primary btn-block" href="{% url 'view_answer' question.exam.id prev_question.id %}"><i class="fa fa-lg fa-caret-left" aria-hidden="true"></i><i class="fa fa-lg fa-caret-left" aria-hidden="true"></i> Previous</a></div>
        {% else %}
        {% endif %}

        <!-- Checks whether there is any next_question -->
        {% if next_question %}
        <div class="d-flex justify-content-center" style="padding: 10px"><a class="btn btn-primary btn-block" href="{% url 'view_answer' question.exam.id next_question.id %}">Next <i class="fa fa-lg fa-caret-right" aria-hidden="true"></i><i class="fa fa-lg fa-caret-right" aria-hidden="true"></i></a></div>
        {% else %}
        {% endif %}
    </div>

    <div class="col-md-10 "><!-- This will show question, answer and other stuff -->
        <ul class="list-group">

            <li class="list-group-item">
                <div class="row">
                    <div class="col-md-1">
                        <div id="question_number">{{question.question_number}}</div><hr class="only-mobile-hr">
                    </div>
                    <div class="col-md-10">
                        <div class="question_body_output"></div><hr class="only-mobile-hr">
                    </div>
                    <div class="col-md-1">
                        <div id="marks">{{question.marks}} mar{{ question.marks|pluralize:"k,ks" }}</div><br>
                    </div>
                </div>
            </li>

            <li class="list-group-item"><strong>Answer:</strong>  <br>
                <div class="answer_output"></div>
            </li>
            
            {% if  question.explanation%}
            <p id="explanation">{{question.explanation}}</p>
            <li class="list-group-item"><strong>Explanation:</strong>  <br>
                <div class="explanation_output"></div>
            </li>
            {% else %}
            {% endif %}
            <li class="list-group-item">
                <div class="float-right"id="author">
                    <strong>Author:</strong>  {{question.author.first_name}} {{question.author.last_name}}
                </div>
            </li>
            <br>

            <hr>

            <!-- main votig process starts from here-->
            <div class="vote">
                <!-- check if the user is in fact the author of this answer.
                If s/he is, come on, don't let them vote their answer.
                Instead, ask them to edit the answer.
                -->
                {% if question.author == request.user %}
                    <a href="{% url 'write_answer' question.exam.pk question.pk %}" class="btn btn-success">
                        <i class="fa fa-edit" aria-hidden="true"></i> Edit
                    </a>
                {% else %}

                <!-- Below 40% and the answer will be reviewed -->
                <p>{{vote_msg}}</p>

                {% if casted_vote %}
                    <!-- this dude has already voted. kudos to him/her-->
                    <!-- oh man, I am taking this equality game too far. -->
                    <div class="alert alert-success" role="alert">
                        Seems like you have already voted!
                    </div>
                {% else %}
                    <div class="vote_area row">
                        <div class="col-md-1 col-2">
                            <!-- Vote Button: Yes -->
                            <form action="./vote/" id="upvote" method="post">
                                {% csrf_token %}
                                <input type="hidden" name="vote_type" value="upvote" />
                                <button class="btn btn-success" type="submit"> 
                                    <i class="fa fa-thumbs-o-up" aria-hidden="true"></i> Yes
                                </button>
                            </form>
                        </div>
                        <div class="col-md-1 col-2">
                            <!-- Vote Button: No -->
                            <form action="./vote/" id="downvote" method="post">
                                {% csrf_token %}
                                <input type="hidden" name="vote_type" value="downvote" />
                                <button class="btn btn-danger" type="submit"> 
                                    <i class="fa fa-thumbs-o-down" aria-hidden="true"></i> No
                                </button>
                            </form>
                        </div>
                    </div>
                {% endif %}

                

                <hr>
                <p>Do you have any changes/suggestions for this answer?</p>

                <!-- this button will toggle a modal 
                see code for modal.
                it will be roaming around here.
                just find it.-->
                <button type="button" class="btn btn-success" data-toggle="modal" data-target="#answerFeedback">
                    <i class="far fa-lightbulb" aria-hidden="true"></i> Provide Feedback
                </button>
            </div>
            {% endif %}
            <div class="extra-space"></div>

            
        </ul>
    </div>

</div>

<p id="question_body">{{question.question_body}}</p>
<p id="answer">{{question.answer}}</p>

<!-- Answer Feedback Form Modal -->
<div class="modal fade" id="answerFeedback" tabindex="-1" role="dialog" aria-labelledby="answerFeedbackLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="answerFeedbackLabel">Answer Feedback Form</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
            </div>
            <form id="answer_feedback" action="./feedback/" method="post">
            {% csrf_token %}
                <div class="modal-body">
                    <div class="form-group">
                        <label for="feedback_title">Title</label>
                        <input type="test" class="form-control" id="feedback_title" name="feedback_title" placeholder="Title...">
                    </div>
                    <div class="form-group">
                        <label for="feedback_type">Feedback Type</label>
                        <select class="form-control" id="feedback_type" name="feedback_type">
                            <option value="" selected disabled hidden>Choose here</option>
                            <option value="wrong_answer">Wrong Answer</option>
                            <option value="improvement">Improvement</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <label for="feedback_body">Body</label>
                        <textarea class="form-control" id="feedback_body" name="feedback_body" rows="3" placeholder="What happened exactly?"></textarea>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <button type="submit" class="btn btn-primary">Submit</button>
                </div>
            </form>

        </div>
    </div>
</div>
    
{% endblock content %}

{% block javascript %}
<script src="{% static 'js/exams/view_answer.js' %}"></script>
{% endblock javascript %}
