{% extends 'base.html' %}
{% load static i18n mathjax %}
{% block css %}
<link rel="stylesheet" href="{% static 'css/exams/view_answer.css' %}">
<script src="https://cdnjs.cloudflare.com/ajax/libs/markdown-it/8.4.1/markdown-it.min.js" integrity="sha256-xPwMubQT+EaVMOh04FjyG49sNwJmmGYpnhWNh4osD5w=" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/markdown-it-mathjax@2.0.0/markdown-it-mathjax.min.js"></script>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/github-markdown-css/2.10.0/github-markdown.min.css" integrity="sha256-Ndk1ry+oGNFEaXt4kxlW/SYLbxat1O0DhaDd+lob0SY=" crossorigin="anonymous" />
{% mathjax_scripts %}
{% endblock css %}

{% block content %}

<div class="row">

    <div class="col-md-10 "><!-- This will show question, answer and other stuff -->
        <ul class="list-group">

            <li class="list-group-item">
                <div class="row">
                    <div class="col-md-2">
                        <div id="question_number">{{question.question_number}}</div><hr class="only-mobile-hr">
                    </div>
                    <div class="col-md-8">
                        <div class="question_body_output"></div><hr class="only-mobile-hr">
                    </div>
                    <div class="col-md-2">
                        <div id="marks">{{question.marks}} mar{{ question.marks|pluralize:"k,ks" }}</div><br>
                    </div>
                </div>
            </li>

            <li class="list-group-item"><strong>Answer:</strong>  <br>
                <div class="answer_output"></div>
            </li>
            
            {% if  question.explanation%}
            <p id="explanation">{{question.explanation}}</p>
            <li class="list-group-item"><strong>Explanation:</strong>  <br>
                <div class="explanation_output"></div>
            </li>
            {% else %}
            {% endif %}
            <li class="list-group-item">
                <div class="float-right"id="author">
                    <strong>Author:</strong>  {{question.author.first_name}} {{question.author.last_name}}
                </div>
            </li>
            <br>

            <div class="vote">
                    {% if question.author == request.user %}
                    <a href="{% url 'write_answer' exam_question.exam.pk exam_question.pk %}" class="btn btn-success">
                        <i class="fa fa-edit" aria-hidden="true"></i> Edit
                    </a>
                {% else %}
                <p>{{question.vote}} people find this answer helpful. Was this answer helpful to you?</p>
                <button class="btn btn-success">
                    <i class="fa fa-thumbs-o-up" aria-hidden="true"></i> Yes
                </button>
                <button class="btn btn-danger">
                    <i class="fa fa-thumbs-o-down" aria-hidden="true"></i> No
                </button>
                <hr>
                <p>Do you have any changes/suggestions for this answer?</p>
                <button class="btn btn-success">
                    <i class="far fa-lightbulb" aria-hidden="true"></i> Yes
                </button>
            </div>
            {% endif %}

            
        </ul>
    </div>

    <div class="col-md-2 align-self-center center"><!-- This will show next/previous buttons -->
        <!-- Checks whether there is any prev_question -->
        {% if prev_question %}
        <div class="d-flex justify-content-center" style="padding: 10px"><a class="btn btn-primary" href="../{{prev_question.id}}"><i class="fa fa-lg fa-caret-left" aria-hidden="true"></i><i class="fa fa-lg fa-caret-left" aria-hidden="true"></i> Previous</a></div>
        {% else %}
        {% endif %}

        <!-- Checks whether there is any next_question -->
        {% if next_question %}
        <div class="d-flex justify-content-center" style="padding: 10px"><a class="btn btn-primary" href="../{{next_question.id}}">Next <i class="fa fa-lg fa-caret-right" aria-hidden="true"></i><i class="fa fa-lg fa-caret-right" aria-hidden="true"></i></a></div>
        {% else %}
        {% endif %}
    </div>
</div>

<p id="question_body">{{question.question_body}}</p>
<p id="answer">{{question.answer}}</p>
    
{% endblock content %}

{% block javascript %}
<script src="{% static 'js/exams/view_answer.js' %}"></script>
{% endblock javascript %}
