{% extends 'base.html' %} {% load static i18n %} {% load mathjax %} {% block css %}
<link href="{% static 'css/exams/submit-result.css' %}" rel="stylesheet">
<script src="https://cdnjs.cloudflare.com/ajax/libs/markdown-it/8.4.1/markdown-it.min.js" integrity="sha256-xPwMubQT+EaVMOh04FjyG49sNwJmmGYpnhWNh4osD5w=" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/markdown-it-mathjax@2.0.0/markdown-it-mathjax.min.js"></script>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/github-markdown-css/2.10.0/github-markdown.min.css" integrity="sha256-Ndk1ry+oGNFEaXt4kxlW/SYLbxat1O0DhaDd+lob0SY=" crossorigin="anonymous" /> {% mathjax_scripts %} {% endblock css %} {% block content %}
<ul class="list-group">
    <p class="lead">Your submission</p>
    <hr>
    <li class="list-group-item">Number: {{question.question_number}}</li>
    <li class="list-group-item">Question:
        <hr>{{question.question_body | linebreaks}}</li>
    <li class="list-group-item">
        <form id="question" method="post" action="{% url 'update_answer' %}">{% csrf_token %}
            <input type="hidden" name="qpk" value="{{question.pk}}" />
            <tr>
                <th><label for="answer">Answer:</label></th>
                <td>
                    <div class="markdownx">
                        <textarea onkeyup="UpdateMath(this.value)" name="answer" rows="10" required id="answer" 
                            class="form-control markdownx-editor" data-markdownx-editor-resizable 
                            data-markdownx-urls-path="/markdownx/markdownify/" 
                            data-markdownx-upload-urls-path="/markdownx/upload/"
                            data-markdownx-latency="500">{{question.answer}}</textarea>

                        <div id="preview" class="markdownx-preview"></div>
                        <main>
                            <hr>
                            <div class="output_answer markdown-body"></div>
                        </main>
                    </div>
                </td>
            </tr>
            <tr>
                <th><label for="explanation">Explanation:</label></th>
                <td>
                    <div class="markdownx">
                        <textarea onkeyup="UpdateExplanation(this.value)" name="explanation" rows="10" 
                            id="explanation" class="form-control markdownx-editor" 
                            data-markdownx-editor-resizable data-markdownx-urls-path="/markdownx/markdownify/" 
                            data-markdownx-upload-urls-path="/markdownx/upload/"
                            data-markdownx-latency="500">{{question.explanation}}</textarea>
            
                        <div id="preview" class="markdownx-preview"></div>
                        <main>
                            <hr>
                            <div class="output_explanation markdown-body"></div>
                        </main>
                    </div>
                </td>
            </tr><p><input type="button" name="btn" value="Submit" id="submitBtn" data-toggle="modal" data-target="#confirm-submit" class="btn btn-primary" /></p>
        </form>
        {{ form.media }}

        <div class="modal fade" id="confirm-submit" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        Confirm Submit
                    </div>
                    <div class="modal-body">
                        <p>Are you sure you want to submit the Answer?</p>
                        <p>Please make sure that provided answer is error free.</p>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                        <a href="#" id="submit" class="btn btn-success success">Submit</a>
                    </div>
                </div>
            </div>
        </div>
    </li>
</ul>
{% endblock content %} {% block javascript %}
<script src="{% static 'js/exams/write_answer.js' %}"></script>
{% endblock javascript %}