{% extends 'base.html' %}
{% load static i18n %}
{% block css %}
    <link href="{% static 'css/exams/submit-result.css' %}" rel="stylesheet">
{% endblock css %}

{% block content %}
    <ul class="list-group">
            <p class="lead">Your submission</p>
            <hr>
            <li class="list-group-item">Number: {{question.question_number}}</li>
            <li class="list-group-item">Question: <hr>{{question.question_body | linebreaks}}</li>
            <li class="list-group-item">Answer: <hr>
                <form id="question" method="post" action="{% url 'update_answer' %}">{% csrf_token %}
                    <input type="hidden" name="qpk" value="{{question.pk}}" /> 
                    <p><textarea class="form-control" name="answer" id="answer" rows="10">{{question.answer}}</textarea></p>
                    Explanation: <hr>
                    <p><textarea class="form-control" name="explanation" id="explanation" rows="10">{{question.explanation}}</textarea></p>
                    <p><input type="button" name="btn" value="Submit" id="submitBtn" data-toggle="modal" data-target="#confirm-submit" class="btn btn-primary" /></p>
                </form>

                <div class="modal fade" id="confirm-submit" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                Confirm Submit
                            </div>
                            <div class="modal-body">
                                <p>Are you sure you want to submit the Answer?</p>
                                <p>Please make sure that provided answer is error free.</p>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                                <a href="#" id="submit" class="btn btn-success success">Submit</a>
                            </div>
                        </div>
                    </div>
                </div>
            </li>
    </ul>
{% endblock content %}

{% block javascript %}
<script>
    $('#submit').click(function(){
        $('#question').submit();
    });
</script>
{% endblock javascript %}