{% extends "base.html" %}
{% load static %}
{% load avatar_tags %}
{% load i18n %}

{% block title %}{% trans "Dashboard" %}{% endblock %}

{% block content %}
<div class="container">
{% if object == request.user %}
    <div class="row profile">
      <div class="col-md-4">
        <div class="profile-picture">
          <img src="{% avatar_url user 250 %}" class="rounded-circle img-fluid center" id="user_avatar" alt="{{user.first_name}} {{user.last_name}}"> 
        </div>
        <div class="profile-name">
          <p class="text-center">{{user.first_name}} {{user.last_name}}</p>
        </div>
        <div>
          {% if perms.exams.change_question %}
            <p class="text-center"><span class="badge badge-success">Answer Wizard</span></p>
          {% else %}
          <p class="text-center"><span class="badge badge-success">Student</span></p>
          {% endif %}
          <p class="text-center"><span class="badge badge-info">{{user.course.name}}<br>{{user.course.university.name}}</span></p>
        </div>
        <div class="profile-options center">
            <a class="btn center" href="{% url 'users:update' %}" role="button">Update Profile</a>
            <a class="btn center" href="{% url 'avatar_change' %}" role="button">Change your avatar</a>
            {% if perms.exams.change_question %}
            <a class="btn center" href="{% url 'users:questions' %}" role="button">Your Questions</a>
            {% else %}
            {% endif %}
        </div>
      </div>

      <div class="col-md-8">
          <!-- Some user profile related items here -->
          <h1>Dashboard</h1>
          <hr>

          <div class="row">
            <div class="col-md-6">
              <ul class="nav nav-pills flex-column" id="myTab" role="tablist">
              {% for subject in subjects %}
                <li>
                  <a class="nav-link" id="{{subject.slug}}-tab" data-toggle="tab" href="#{{subject.slug}}" role="tab" aria-controls="{{subject.slug}}" aria-selected="true">{{subject}}</a>
                </li>
              {% endfor %}
              </ul>
            </div>

            <div class="col-md-6">
              <div class="tab-content" id="myTabContent">
                {% for subject in subjects %}
                    <div class="tab-pane fade" id="{{subject.slug}}" role="tabpanel" aria-labelledby="{{subject.slug}}-tab">
                      {% for exams in all_exams %}
                        {% for exam in exams %}
                        {% if exam.subject == subject %}
                          <a href={% url 'view_question_paper' exam.id %}>{{exam}}</a>
                        {% endif %}
                        {% endfor %}
                      {% endfor %}
                    </div>
                {% endfor %}
              </div>
            </div>


          </div>



          
      </div>
    </div>

{% else %}
<p class="lead">You are not authorized to view this page.</p>
{% endif %}


</div>
{% endblock content %}

