{% extends "base.html" %}
{% load static %}
{% load avatar_tags %}
{% load i18n %}

{% block title %}{% trans "Dashboard" %}{% endblock %}

{% block content %}
<div class="container">

{% if object == request.user %}
  <div class="row">
    <div class="col-sm-12">

        <h2>{{ object.first_name }} {{object.last_name}}</h2>
    </div>
  </div>

<!-- Action buttons -->
<div class="row">

  <div class="col-sm-12">
    <a class="btn btn-primary" href="{% url 'users:update' %}" role="button">My Info</a>
    <!-- Your Stuff: Custom user template urls -->
    
    {% if perms.exams.change_question %}
    <a class="btn btn-primary" href="{% url 'users:questions' %}" role="button">Your Questions</a>
    {% else %}
    {% endif %}
    <br><br>
    {% avatar user class="rounded-circle img-fluid" id="user_avatar" %}
    <a href="{% url 'avatar_change' %}">Change your avatar</a>
  </div>

</div>
<!-- End Action buttons -->
{% else %}
<p class="lead">You are not authorized to view this page.</p>
{% endif %}


</div>
{% endblock content %}

